.APP{
  text-align:center;
  /* background-color: aliceblue; */
}
.home{
  color:blue;
  text-align:center;
  margin:10px;
}
.register{
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.blog-name,.blog-poster,.blog-description,.blog-text{
  width:300px;
}
.new-blog{
  margin-top: 10px;
  border: 2px solid rgb(13, 13, 14);
  background-color: rgb(216, 238, 247);
  border-radius: 20px;
  
}
.bloglist{
  display:flex;
  flex-direction: row;
  gap:10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.blog-poster{
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.icons{
height:24px;
  color:Red;
  /* padding:20px; */
  margin-left:30px;
}

.login{
  text-align:center;
  margin:20px;
  padding:20px;
}


.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.colorgraph {
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #bfdf75, #8ae981 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.addBlogDivision{
  margin-top: 5vh;
  margin-left: 20vw;
}

.blogButton{
  margin-top: 3vh;
  margin-left: 42vw;
}


@media only screen and (max-width: 600px) {
  .blogButton{
      margin-top: 3vh;
      margin-left: 35vw;
  }
}
#register, #login {
  width: 30vw;
  border: 3px solid #d6d7da;
  padding: 0px 15px 15px 15px;
  border-radius: 5px;
  font-family: arial;
  line-height: 16px;
  color: #333333;
  font-size: 14px;
  background: #dec5e7;
  margin: 100px auto;
}

form label, form input {
  display: block;
  width: 90%
}

form input {
  padding: 10px;
  border: solid 1px #BDC7D8;

}

.button {
  background-color: #00BFFF;
  border-color: #3ac162;
  font-weight: bold;
  padding: 12px 15px;
  color: #ffffff;
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

.sucessMsg {
  color: #6B8E23;
  margin-bottom: 10px;
}



/* .NavItem{
    margin-left: 10vw;
} */

#buttonWork{
  margin-left: 20vw; 
}

#serchBar{
  margin-left: 5vw; 
} 



/* Banner front page */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

h1,
p,
a{
margin: 0;
padding: 0;
font-family: 'sans-serif';
}

h1 {
font-size: 2.8em;
padding: 10px 0;
font-weight: 800;
}

p {
font-size: 1.1em;
font-weight: 100;
letter-spacing: 5px;
}

.header {
  margin-top: 5vh;
width: 100%;
height: 50vh;
padding:60px 0;
text-align: center;
background: #33cccc;
color: white;
}


.btn-bgstroke {
font-size: 20px;
display: inline-block;
border: 1px solid white;
padding: 10px 20px;
border-radius: 10px;
cursor: pointer;
font-weight: 300;
margin-top: 30px; 
}

.btn-bgstroke:hover {
background-color: white;
color: #33cccc;
}

@media only screen and (max-width: 600px) {
  #serchBar{
      margin-left: 0vw; 
  }

  
#buttonWork{
  margin-left: 0vw; 
}
}







/* Fottyer */
.footer {
  padding: 40px 0;
  margin-top: 5vh;
  background-color: #d3d2d2;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #4b4c4d;
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

@media only screen and (max-width: 600px) {
  #register, #login {
      width: 97vw;
      border: 3px solid #d6d7da;
      padding: 0px 15px 15px 15px;
      border-radius: 5px;
      font-family: arial;
      line-height: 16px;
      color: #333333;
      font-size: 19px;
      background: #dec5e7;
      margin: 20px auto;
    }
}