.APP{
  text-align:center;
  /* background-color: aliceblue; */
}
.home{
  color:blue;
  text-align:center;
  margin:10px;
}
.register{
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.blog-name,.blog-poster,.blog-description,.blog-text{
  width:300px;
}
.new-blog{
  margin-top: 10px;
  border: 2px solid rgb(216, 238, 247);
  background-color: rgb(216, 238, 247);
  border-radius: 20px;
  
}
.bloglist{
  display:flex;
  flex-direction: row;
  gap:10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.blog-poster{
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.icons{
height:24px;
  color:Red;
  /* padding:20px; */
  margin-left:30px;
}

.login{
  text-align:center;
  margin:20px;
  padding:20px;
}


